<div class="resvPage">
  <div class="resCalendar">
    <div class="calendarName">
      <p> Reservation </p>
    </div>
      <div class="appColummns">
        <ul>
          <li><div class="appt1">
            <div class="date-appt1"><p> dec 21 2016 </p></div>
            <div class="res-date-blockholders">
              <button type="button" class="res-date-blocks">
                <p> 10 : 00pm </p>
                <!-- reservation block goes here so, if reserve show disabled its currently showing as a black box so u can see where it will show-->
              </button>
              <div class="res-date-blocks">
                <p> 10 : 00pm </p>
                <!-- reservation block goes here so, if reserve show disabled its currently showing as a black box so u can see where it will show-->
              </div>
              <div class="res-date-blocks">
                <!-- reservation block goes here so, if reserve show disabled its currently showing as a black box so u can see where it will show-->
              </div>
            </div>
          </div></li>
          <li><div class="appt2">
            <div class="date-appt1"><p> dec 21 2016</p></div>
            <div class="res-date-blockholders">
              <div class="res-date-blocks">
                <p> 10 : 00pm </p>
                <!-- reservation block goes here so, if reserve show disabled its currently showing as a black box so u can see where it will show-->
              </div>
            </div>
          </div></li>
          <li><div class="appt3">
            <div class="date-appt1"><p> dec 21 2016</p></div>
            <div class="res-date-blockholders">
              <div class="res-date-blocks">
                <!-- reservation block goes here so, if reserve show disabled -->
              </div>
            </div>
          </div></li>
          <li><div class="appt4">
            <div class="date-appt1"><p> dec 21 2016</p></div>
            <div class="res-date-blockholders">
              <div class="res-date-blocks">
                <!-- reservation block goes here so, if reserve show disabled -->
              </div>
            </div>
          </div></li>
        </ul>
    </div>
  </div>
</div>
