<div class="mainDiv">
  <div class="mainOptionWin">
    <div class="resBtn">
      <div class="resBtnHolder">
        <!-- <a class="waves-effect waves-light btn-large red accent-1" id="resMBtn">button</a> -->
        <button type="button" class="btn-large waves-effect beer-btn beer-btn-dark" id="resMBtn"><a href="/reserve"> Book a Tour </a></button>

     </div>
    </div>
    <div class="managerBtn">
      <p> Manager Sign Up or log In </p>
      <a href = "/signup" class="waves-effect waves-light beer-btn-light" id="btnSignUp"> Sign Up</a>
      <a href = "/login" class="waves-effect waves-light beer-btn-light" id="btnSignIn"> Log In</a>
    </div>
  </div>
</div>


